.navbar {
  background: linear-gradient(
    90deg,
    rgba(1, 34, 73, 0.98),
    rgba(18, 56, 146, 0.98)
  );
  backdrop-filter: blur(8px);
}

.nav-link {
  color: #f9fafb !important;
  font-weight: 500;
}

.nav-link:hover {
  color: var(--primary-orange) !important;
}

.nav-link.active {
  color: var(--orange-main) !important;
}